Repository martin-trajanovski/user-office-core-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,jsx,tsx}": "npm run lint",
  "*.{json,md}": "prettier --write"
}

test
  apps/user-office-frontend/src/hooks/admin/useFeatures.ts
Due: npm run lint

test lint staged 2
  .husky/.gitignore
  .husky/pre-commit
  apps/user-office-frontend/src/hooks/admin/useFeatures.ts
  package.json
Due: npm run lint, prettier --write

test lint staged part 3
  .husky/.gitignore
  .husky/pre-commit
  apps/user-office-frontend/src/hooks/admin/useFeatures.ts
  package-lock.json
  package.json
Due: npm run lint, prettier --write

test lint staged part 4
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: prettier --write

test lint staged part 5
  apps/user-office-frontend/src/hooks/admin/useFeatures.ts
Due: npm run lint

fix cypress config
  apps/user-office-frontend-e2e/cypress.json
  apps/user-office-frontend-e2e/cypress/integration/experiments.ts
  apps/user-office-frontend-e2e/cypress/integration/proposal_administration.ts
  package.json
Due: npm run lint, prettier --write

try to just run lint wihout using any predefined action
  .github/workflows/lint.yml
  .github/workflows/test-build.yml
Due: none

try to use the real path
  .github/workflows/test-build.yml
Due: none

try to use cache node modules and resolve some build issues
  .github/workflows/test-build.yml
  apps/user-office-backend/tsconfig.paths.json
  apps/user-office-frontend/craco.config.js
  apps/user-office-frontend/package-lock.json
  apps/user-office-frontend/package.json
Due: npm run lint, prettier --write

add tsconfig-paths to be able to resolve paths
  apps/user-office-backend/package-lock.json
  apps/user-office-backend/package.json
Due: prettier --write

optimize test rinners
  .github/workflows/test-build.yml
  apps/user-office-frontend-e2e/cypress/integration/n_personal_information.ts
  apps/user-office-frontend-e2e/cypress/integration/n_proposal_administration.ts
Due: npm run lint

split root install from installing packages
  .github/workflows/lint.yml
  .github/workflows/test-build.yml
  package-lock.json
  package.json
Due: prettier --write

change packkage json
  apps/user-office-backend/package-lock.json
  apps/user-office-backend/package.json
  apps/user-office-frontend/package-lock.json
  apps/user-office-frontend/package.json
Due: prettier --write

reorder install of dependencies
  .github/workflows/test-build.yml
Due: none

remove caching of node_modules for now
  .github/workflows/test-build.yml
Due: none
